[Unit]
Description=Monthly-2 backup job
After=PersonalBackups-Monthly-1.service
RefuseManualStart=no
RefuseManualStop=no
Wants=PersonalBackups-Monthly-2.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/podman run --rm \
    --name pbs-monthly-2 \
    -v /etc/rclone.conf:/etc/rclone.conf:ro,Z \
    -v /etc/passwd:/host-etc/passwd:ro \
    -v /var/home:/var/home:ro \
    -v /home:/home:ro \
    --tmpfs /tmp:rw \
    --network=host \
    quay.io/crunchtools/pbs:latest \
    -B -m "Files HomeDirectories" -r Monthly-2
